
@using (Html.BeginForm("Pictures", "Information", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label class="control-label">Select File</label>
    <input id="inputfile" type="file" name="inputfile" class="file file-loading" multiple data-allowed-file-extensions='["jpg", "png"]' data-max-file-count="6"
           data-min-file-count="1" data-max-file-size="2048" > @*data-show-upload="false"*@
    <div class="text-left text-danger" style="font-size: 12px;">
        <span class="glyphicon glyphicon-asterisk"></span> Only 6 pictures are allowed
    </div>
    <br/>
    @*<button type="submit" class="btn btn-primary center-block">Save</button>*@
}