@model biodata.Models.Dashboard

<div class="fh5co-loader"></div>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html"><strong>Biodata</strong></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Start Creating</a></li>
                        <li class="active"><a href="#" data-toggle="modal" data-target="#myModal">Log In/Sign Up</a></li>
                        <li class="active"><a href="#fh5co-started">Contact Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(../../images/img_bg_2222.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">

                            <h1>Create beautiful, professionally designed biodata in minutes.</h1>
                            <h1>Share Biodata easily with your extended family and friends.</h1>
                            <h1>Download Biodata to your computer or print them out.</h1>
                            <h1>Built with your security and privacy in mind.</h1>
                            <h1>It's free. We don't charge anything for it.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Hello!</h2>
                    <h3>View Matrimonial Biodata Format Samples</h3>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="../../images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                </div>
                <div class="couple-half">
                    <div class="bride">
                        <img src="../../images/bride.jpg" alt="groom" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Choose a template for this biodata</h2>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Basic Template</h3>
                                    @*<div class="event-col">
                                            <i class="icon-clock"></i>
                                            <span>4:00 PM</span>
                                            <span>6:00 PM</span>
                                        </div>
                                        <div class="event-col">
                                            <i class="icon-calendar"></i>
                                            <span>Monday 28</span>
                                            <span>November, 2016</span>
                                        </div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>*@
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Premium Template</h3>
                                    @*<div class="event-col">
                                            <i class="icon-clock"></i>
                                            <span>7:00 PM</span>
                                            <span>12:00 AM</span>
                                        </div>
                                        <div class="event-col">
                                            <i class="icon-calendar"></i>
                                            <span>Monday 28</span>
                                            <span>November, 2016</span>
                                        </div>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../images/img_bg_4.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Contact us</h2>
                    <p>Contact us with any questions or comments. We will respond to your questions as soon as possible. </p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-10 col-md-offset-1">

                    @using (Html.BeginForm("Dashboard", "Home", new { }, FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Email, new { @for = "email", @class = "sr-only" })

                                @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @id = "email", @placeholder = "Email" })

                                @*<label for="email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">*@
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Message</label>
                                <input type="text" class="form-control" id="name" placeholder="Message">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-default btn-block btn-primary">Send</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2017 Biodata. All Rights Reserved.</small>
                    </p>
                    <p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
@{
    Html.RenderPartial("_Login", Model.Login);
}
