@{
    Layout = "../Shared/_InformationLayout.cshtml";
    ViewBag.Title = "How to make it";
}
<div>
    <div class="h3">
        <p>
            How to make it
        </p>
    </div>

    <div class="well well-lg">
        <p>
            1. Create account
        </p>
        <p>
            Click on sign up menu item from top right of the page. It will navigate to sign up page. Fill up your all details like
            Name, Valid Email address, Password and Confirm Password. Hit on Sign Up Button. On successfull sign up, the page navigate to home screen.
        </p>
        <div class="text-center">
            <img src="~/images/signup.gif" height="300" alt="signup" />
        </div>
    </div>

    <div class="well well-lg">
        <p>
            2. Logged in
        </p>
        <p>
            This step is only required if you are already member of wedding profile. 

            Click on sign in anchor at the top right of the page, provide your sign in information and hit sign in button. If sign in goes successfull,
            the page will navigate to home page.
        </p>
        <div class="text-center">
            <img src="~/images/home.gif" height="300" alt="home" />
        </div>
    </div>

    <div class="well well-lg">
        <p>
            3. Start Creating the bio-data
        </p>
        <p>
            On successfull sign up or sign in, the page will navigate to home page, Click on start creating anchor and the page will navigate to
            personal information page.
        </p>
        <div class="text-center">
            <img src="~/images/home.gif" height="300" alt="home" />
        </div>
    </div>
</div>




