@model biodata.Controllers.ViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript">
        //$(function () {
        //    $("#MyForm").on('submit', function (e) {
        //        e.preventDefault(); // prevent the form's normal submission
        //        var htmlcontent = $("#mainDiv")[0].outerHTML;

        //        $.post("Home/GenaratePdf", htmlcontent)
        //            .done(function (response, status, jqxhr) {
        //                // this is the "success" callback
        //            })
        //            .fail(function (jqxhr, status, error) {
        //                // this is the ""error"" callback
        //            });
        //    });
        //});

        function post() {

            //var htmlcontent = $("#mainDiv")[0].outerHTML;

            //$.post("Home/GenaratePdf", htmlcontent);


            //        .done(function (response, status, jqxhr) {
            //    alert("done");
            //})
            //        .fail(function (jqxhr, status, error) {
            //            // this is the ""error"" callback
            //        });

            $.ajax({
                url: '@Url.Action("GenaratePdf", "Home")',
                data: { htmlcontent: $("#mainDiv")[0].outerHTML },
                type: 'POST',
                success: function (data) {
                    alert(data);
                }
            });

        }

        //$('#EditUserButton').attr('href', function () {
        //    return this.href.replace('__userid__', $("#mainDiv")[0].outerHTML);
        //});

        //function JqueryFromPost() {
        //    var form = $('#MyForm');
        //    var content = "sdfds";//form[0].outerHTML;
        //    $.post("Home/GenaratePdf", content, function (data) {
        //        alert(data);
        //    });
        //}


        $('document').ready(function () {
            $('#MyForm1').submit(function () {
                var pageHTML = $("#mainDiv")[0].outerHTML.trim();//$('#mainDiv').html();
                alert(pageHTML);
                $('#ClientHTML').val(pageHTML);
            });
        });

    </script>
}

@using (Html.BeginForm("GenaratePdf", "Home", FormMethod.Post, new { id = "MyForm" }))
{
    <div class="container-fluid" id="mainDiv">
        <div class="row">
            <div class="col-md-12">
                <h2>Index</h2>
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <td><label style="font-size: 14px;"></label></td>
                            <td><label style="font-size: 14px;">Before</label></td>
                            <td><label style="font-size: 14px;">After</label></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>NeckCircumferenceGreaterThen</b></td>
                            <td class="warning" style="border: 1px solid #dddddd;">
                                <div>
                                    <mark style="background: #E0E0E0; color: #FA0F87">Yes</mark>
                                </div>
                            </td>
                            <td class="warning" style="border: 1px solid #dddddd;"><mark style="background: #E0E0E0; color: #FA0F87">Unsure</mark></td>
                        </tr>
                        <tr>
                            <td><b>HeartAttack</b></td>
                            <td class="warning" style="border: 1px solid #dddddd;"><mark style="background: #E0E0E0; color: #FA0F87">Yes</mark></td>
                            <td class="warning" style="border: 1px solid #dddddd;"><mark style="background: #E0E0E0; color: #FA0F87">False</mark></td>
                        </tr>
                        <tr>
                            <td><b>AngioplastyOrStents</b></td>
                            <td class="warning" style="border: 1px solid #dddddd;"><mark style="background: #E0E0E0; color: #FA0F87">No</mark></td>
                            <td class="warning" style="border: 1px solid #dddddd;"><mark style="background: #E0E0E0; color: #FA0F87">Unsure</mark></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*<input type="button" value="Submit" class="btn btn-default" onclick="post();" />*@

    @*@Ajax.ActionLink("Fatch Data", "GenaratePdf", new { htmlcontent = "d" }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn", id = "EditUserButton" })*@

}

@using (Html.BeginForm("GenaratePdf", "Home", FormMethod.Post, new { id = "MyForm1" }))
{
    @Html.HiddenFor(x => x.ClientHTML)
    <input type="submit" value="Submit" class="btn btn-default" />
}
