@{
    Layout = null;
    ViewBag.Title = "Sample";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Basic form</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

</head>
<body style="font-family: Verdana; margin: 0 !important; padding: 0 !important">
    @*Pdf size-  595 Pixels(width)  *	842 Pixels(hieght)*@
    <div class="container" style="border: 2px solid #FAAA1F">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @* Header *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 209px; background-color: #FAAA1F">
                                @*F0F0F0*@
                                <div class="row">
                                    <table style="width: 100%; height: 100%">
                                        <tr>
                                            <td style="width: 250px; height: 200px;">
                                                <div style="width: 100%; height: 100%; padding-top: 10px; padding-left: 40px">
                                                    <div style="height: 150px; width: 150px;" class="">
                                                        <img class="img-rounded" style="border: 1px solid #FAAA1F; background-color: #F2F2F2; padding: 0px;"
                                                             alt="Prafile Picture" src="~/images/me.jpg" width="150" height="150" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="">
                                                <div style="width: 100%; height: 100%; padding-left: 50px; padding-top: 20px;">
                                                    <h1 class="h1" style="color: #006699">Prateek Gangwar</h1>
                                                    <h5 style="color: #6F7174;"><span class="glyphicon glyphicon-envelope" style="top: 4px;"></span> prateek@email.com<i> (self)</i></h5>
                                                    <h5 class="h5" style="color: #6F7174;"><span class="glyphicon glyphicon-earphone" style="top: 4px;"></span> 9123456789 <i> (self)</i></h5>
                                                </div>
                                            </td>

                                            <td style="width: 300px;">
                                                <div style="width: 100%; height: 100%; padding-left: 10px; padding-top: 35px;">
                                                    <div class="text-center">
                                                        <a href="https://www.facebook.com/sample" style="text-decoration: none">
                                                            <i class="fa fa-facebook-official" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                        </a>
                                                        <a href="https://www.linkedin.com/in/sample" style="text-decoration: none">
                                                            <i class="fa fa-linkedin" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                        </a>
                                                        <a href="https://www.instagram.com/sample/?hl=en" style="text-decoration: none">
                                                            <i class="fa fa-instagram" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                        </a>
                                                        <a href="https://mobile.twitter.com/sample" style="text-decoration: none">
                                                            <i class="fa fa-twitter" style="font-size: 32px; color: #006699; margin: 5px;"></i>
                                                        </a>
                                                        <a href="https://www.quora.com/profile/sample" style="text-decoration: none">
                                                            <i class="" style="font-size: 32px; color: #006699; position: relative; top: -2px; left: -5px; font-style: normal">Q</i>
                                                        </a>
                                                    </div>
                                                    <h5 class="h5" style="color: #6F7174; line-height: 140%"><span class="glyphicon glyphicon-home" style="top: 1px;"></span>&nbsp;C-61, Rajendra Nagar, New Delhi <i>(self)</i></h5>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Body *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 1150px; background-color: #F0F0F0">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top: 15px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">PERSONAL INFORMATAION</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BORN
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> 16 Jan, 1989</span>
                                                            <span style="font-size: 10px; color: #6F7174"> 06:00AM</span>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BIRTHPLACE
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> New Delhi</span>
                                                            <span style="font-size: 10px; color: #6F7174"> </span>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">CURRENT CITY</div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Bangalore</span>@*FF0000*@
                                                            <span style="font-size: 10px; color: #6F7174"> KA</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">HIEGHT</div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> 5'9"</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            COMPLEXION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Weatish</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top: 10px;">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            MARITAL STATUS
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Never Married</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            DIET
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Vegeterian</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            DRINK
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> No</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 10px;">
                                                    <div style="width: 100%; height: 100%; border-right: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            SMOKE
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> No</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-left: 5px; padding-top: 10px;">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            HOBBIES
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Cooking, Travelling</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">CULTURAL BACKGROUND</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            RELIGION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Hindu</span>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CASTE
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Rajput</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            ZODIAC
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Virgo</span>@*5A8F29*@
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="padding-right: 5px; padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            MOTHER TONGUE
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Hindi</span>@*5A8F29*@
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-left: 5px; padding-top: 2px">
                                                    <div style="width: 100%; height: 100%; padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            LANGUAGES
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699;"> English, Hindi</span>@*52ADDA*@
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">EDUCATION</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BACHELORS
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699;">B.E. 2011</span>
                                                            <span style="font-size: 10px; color: #6F7174"> SIT, VTU</span>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">WORK EXPERIENCE</h5>
                                        </div>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="padding-right: 5px">
                                                    <div style="width: 100%; height: 100%;">
                                                        <h6 style="color: #6F7174; font-size: 10px;">
                                                            <span style="font-size: 18px; color: #006699">Software Engineer</span>
                                                            <span style="font-size: 18px; color: #006699"> in Infosys,</span>
                                                            <span style="font-size: 18px; color: #006699"> Bangalore</span>
                                                        </h6>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px">
                                                    <div style="width: 100%; height: 100%;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            ANNUAL INCOME
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699;">10 - 20Lakh</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <div style="width: 100%; border-bottom: 1px solid #FAAA1F;">
                                            <h5 class="h5" style="color: #6F7174; margin-bottom: 2px">FAMILY</h5>
                                        </div>
                                        <table style="width: 100%;">

                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; ">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            FATHER
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Prabhakar Kumar</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CITY
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Bareilly</span>
                                                            <span style="font-size: 10px; color: #6F7174;"> U.P.</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            OCCUPATION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Manager</span>
                                                            <span style="font-size: 18px; color: #006699;"> in IFFCO</span>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; ">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            MOTHER
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Savita</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CITY
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Bareilly</span>
                                                            <span style="font-size: 10px; color: #6F7174;"> U.P.</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            OCCUPATION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Housewife</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; ">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            SISTER
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Ayesha Singh</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CITY
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> New Delhi</span>
                                                            <span style="font-size: 10px; color: #6F7174;"> </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px;">
                                                            OCCUPATION
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Student</span>
                                                            <span style="font-size: 18px; color: #006699;"> in Delhi University</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; ">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BROTHER
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Manish Singh</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CITY
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Mumbai</span>
                                                            <span style="font-size: 10px; color: #6F7174;"> MH</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%; ">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            BROTHER
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> Kunal Kumar</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-right: 5px; padding-top: 2px;">
                                                    <div style="width: 100%; height: 100%;  padding-left: 5px; border-left: 1px solid #FAAA1F;">
                                                        <div style="color: #6F7174; font-size: 10px; padding-top: 4px;">
                                                            CITY
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 18px; color: #006699"> New Delhi</span>
                                                            <span style="font-size: 10px; color: #6F7174"> </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Footer *@
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="height: 40px; background-color: #FAAA1F">
                                <div class="row">
                                    <div class="text-center" style="padding-top: 8px;">
                                        <a class="text-center" href="https://www.createbiodata.com" style="font-size: 12px;">Designed and maintained by Prateek Gangwar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Next Page *@
    <div class="container" style="border: 2px solid #FAAA1F">
        <div class="row">
            <div class="col-md-12" style="height: 1397px; background-color: #F0F0F0;">
                <div class="row">
                    @*<table>
                        <tr>*@

                    @*<td>*@
                    <div style="margin: 30px; float: left">
                        <div style="height: 400px; width: 400px; ">
                            @*<div style="padding: 10px;">*@
                            <img class="img-rounded" style="border: 2px solid #FAAA1F; background-color: #F2F2F2; padding: 0px;"
                                 alt="Profile Picture" src="~/images/me.jpg" width="400" height="400" />
                            @*</div>*@
                        </div>
                    </div>
                    @*</td>*@
                    @*</tr>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>